{
  "details": [{
    "name": "Base Information",
    "type": "item",
    "options": {
      "translation_id": "PAGE_SCHEMA.BASE_INFO",
      "fields": [{
        "key": "service_account_id",
        "name": "ID",
        "options": {
          "translation_id": "PAGE_SCHEMA.ID"
        }
      },{
        "key": "name",
        "name": "Name",
        "options": {
          "translation_id": "PAGE_SCHEMA.NAME"
        }
      },
      <% fields.forEach(function(field){ %>
      {
        "key": "<%- field.key %>",
        "name": "<%- field.name %>"
      },
      <% }); %>
      {
        "key": "project_info.project_id",
        "name": "Project",
        "options": {
          "translation_id": "PAGE_SCHEMA.PROJECT"
        },
        "reference": {
          "resource_type": "identity.Project",
          "reference_key": "project_id"
        }
      },{
        "key": "created_at.seconds",
        "name": "Created",
        "type": "datetime",
        "options": {
          "translation_id": "PAGE_SCHEMA.CREATED_AT"
        },
        "options": {
          "source_type": "timestamp",
          "source_format": "seconds"
        }
      }]
    }
  }]
}
