{
  "search": [
    {
      "title":"Properties",
      "items":[
        {
          "key":"service_account_id",
          "name":"Service Account ID"
        },
        {
          "key":"name",
          "name":"Name"
        },
        {
          "key":"service_account_type",
          "name":"Account Type",
          "enums":{
            "TRUSTED":{
              "label":"Trusted Account"
            },
            "GENERAL":{
              "label":"General Account"
            }
          }
        },
        <% fields.forEach(function(field){ %>
        {
          "key": "<%- field.key %>",
          "name": "<%- field.name %>"
        },
        <% }); %>
        {
          "key":"project_id",
          "name":"Project",
          "reference":"identity.Project"
        },
        {
          "key":"created_at",
          "name":"Created",
          "data_type":"datetime"
        }
      ]
    },
    {
      "title":"Advanced",
      "items":[
        {
          "key": "tags",
          "name": "Tags",
          "data_type": "object"
        }
      ]
    }
  ]
}

