{
  "name": "Base Table",
  "type": "query-search-table",
  "options": {
    "search": [],
    "fields": [{
      "key": "name",
      "name": "Name"
    },
    <% fields.forEach(function(field){ %>
    {
      "key": "<%- field.key %>",
      "name": "<%- field.name %>"
    },
    <% }); %>
    {
      "key": "project_info.project_id",
      "name": "Project",
      "options": {
        "sortable": false
      },
      "reference": {
        "resource_type": "identity.Project",
        "reference_key": "project_id"
      }
    },{
      "key": "created_at",
      "name": "Created",
      "type": "datetime",
      "options": {
        "source_type": "iso8601"
      }
    }]
  }
}
