{
  "name": "Base Table",
  "type": "query-search-table",
  "options": {
    "search": [],
    "fields": [
      <% fields.forEach(function(field){ %>
      <%- JSON.stringify(field) %>,
      <% }); %>
      {
        "key": "provider",
        "name": "Provider",
        "reference": {
          "resource_type": "identity.Provider",
          "reference_key": "provider"
        }
      },
      {
        "key": "project_id",
        "name": "Project",
        "options": {
          "sortable": false
        },
        "reference": {
          "resource_type": "identity.Project",
          "reference_key": "project_id"
        }
      },
      {
        "key": "collection_info.state",
        "name": "Collection State",
        "type": "enum",
        "options": {
          "ACTIVE": {
            "name": "Active",
            "type": "state",
            "options": {
              "icon": {
                "image": "ic_state_active"
              }
            }
          },
          "DUPLICATED": {
            "name": "Duplicated",
            "type": "state",
            "options": {
              "icon": {
                "image": "ic_state_duplicated"
              }
            }
          },
          "DISCONNECTED": {
            "name": "Disconnected",
            "type": "state",
            "options": {
              "icon": {
                "image": "ic_state_disconnected"
              }
            }
          },
          "DELETED": {
            "name": "Deleted",
            "type": "state",
            "options": {
              "text_color": "gray.500",
              "icon": {
                "color": "gray.500"
              }
            }
          },
          "MANUAL": {
            "name": "Manual",
            "type": "state",
            "options": {
              "icon": {
                "image": "ic_state_manual"
              }
            }
          }
        }
      },
      {
        "key": "updated_at.seconds",
        "name": "Last Collected",
        "type": "datetime",
        "options": {
          "source_type": "timestamp",
          "source_format": "seconds",
          "sort_key": "updated_at"
        }
      }
    ]
  }
}
