<html>
<head>
    <meta charset="utf-8">
    <title>
        LogIn
    </title>
</head>
<body>
    <h1>
        Please, Login
    </h1>
    <form action="/api/auth" method="POST">
        <input id="user_name" name="user_name" type="text" placeholder="user name">
        <br>
        <input id="password" name="password" type="password" placeholder="password">
        <button type='submit'>Login</button>
    </form>
</body>
</html>