<html>
<head>
    <meta charset="utf-8">
    <title>
        Logout
    </title>
</head>
<body>
<h1>
    hello <%= user_name %>
</h1>
<form action="/api/auth/logout" method="POST">
    <button type="submit">
        Logout
    </button>
</form>
</body>
</html>