name: "[CI][manually]reflect branch update to master"
on:
  workflow_dispatch:
    inputs:
      tag:
        description: '`vx.y-릴리즈` 형태로 버전을 입력해주세요. `vx.y`도 가능합니다.'
        required: true
        default: v1.2-rc1

jobs:
  reflect_branch_update:
    env:
      VERSION: ${{ github.event.inputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT_TOKEN }}
      - name: check version format
        run: |
          if [[ !(${{ env.VERSION }} =~ ^v[0-9]\.[0-9]\.[0-9](.*)$) ]];
            then exit 1
          fi
      - name: get existing official version
        run: |
          echo "current_major=$(cat src/VERSION | cut -c 2- | cut -d'.' -f1)" >> $GITHUB_ENV
          echo "current_minor=$(cat src/VERSION | cut -c 2- | cut -d'.' -f2 | cut -d'-' -f1)" >> $GITHUB_ENV
          echo "new_major=$(echo ${{ env.VERSION }} | cut -c 2- | cut -d'.' -f1)" >> $GITHUB_ENV
          echo "new_minor=$(echo ${{ env.VERSION }} | cut -c 2- | cut -d'.' -f2 | cut -d'-' -f1)" >> $GITHUB_ENV
      - name: Is new_ver is latest?
        run: |
          if [ $(echo ${{ env.current_major }}) \> $(echo ${{ env.new_major }}) ]
          then
            echo "LATEST_TAG=false" >> $GITHUB_ENV
          else
            if [ $(echo ${{ env.current_minor }}) \> $(echo ${{ env.new_minor }}) ]
            then
              echo "LATEST_TAG=false" >> $GITHUB_ENV
            else
              echo "LATEST_TAG=true" >> $GITHUB_ENV
            fi
          fi
      - name: Latest Update - update version file
        if: ${{ env.LATEST_TAG }} == 'true'
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT_TOKEN }}
      - run: |
          echo ${{ env.VERSION }} > src/VERSION
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "[CI/CD] release version ${{ env.VERSION }}"
      - name: Push changes
        if: ${{ env.LATEST_TAG }} == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          branch: master